*{
    *background: fixed;
    width: 100%;
    margin: 0px auto;
}
body{
    width: 1349px;
    height: 1835px;
    border: 0px;
    margin: 0px auto;
    background-color: #2d1f12;
    vertical-align: baseline;
}
a{
    text-decoration: none;
}
.header{
    *width: 1349px;
    width: 100%;
    height: 930px;
    border: 0px;
    margin: 0px auto;
    background-image: url(../img/head.jpg);
    background-position:center;
    
}
.content{
    width: 1200px;
    height: 985px;
    /* height: 1410px; */
     margin: -500px auto 0px; 
}
.footer{
    width: 1349px;
    height: 338px;
    margin: 0px auto 0 ;
    text-align: center;
}


/* -----------整体---------------- */

.list{
    width: 1349px;
    height: 34px;
    background: url(../img/tiao.png) repeat-x;
    color: #707070;
    margin: 0px auto;
}
.list .logo{
    width: 1200px;
    height: 34px;
    margin: 0px auto;
}
.logo .sogogame{
    width: 160px;
    height: 34px;
    z-index: 1;
    position: absolute;
    background: url(../img/sogogame.png);
}
.all{
    width: 240px;
    height: 28px;
    float: right;
    font-size: 12px;
    line-height: 28px;
}
.all span{
    margin: 0px 10px;
}
.all span:hover{
    color:#F29417; 
    cursor: pointer;
}

.list1{
    width: 1200px;
    height: 75px;
    margin: 0px auto;
    text-align: center;
}
.list1 li{
    width: 240px;
    height: 45px;
    padding: 15px 0px;
    float: left;
    list-style-type: none;
}
.list1 li a{
    width: 240px;
    height: 45px;
}
.list1 li a strong:hover{
    color: #F29417; 
    
}
.list1 li a strong{
    width: 240px;
    height: 30px;
    color: white;
    font-size: 16px;
    display: block;
} 
.list1 li a span{
    font-size: 12px;
    color: #F29417;
    display: block;
}
.startgame{
    width: 300px;
    height: 80px;
    margin: 0 auto 10px;
}
.startgame a img{
    width: 300px;
    height: 80px;
}
.download{
    width: 300px;
    height: 280px;
    background-image: url(../img/download.jpg);
    float: left;
}
.download div{
    width: 180px;
    height: 180px;
    display: block;
    position: relative;
    margin: 40px auto;
}
.footer{
    background-color: #3A2916;
}
.footer .content{
    width: 1140px;
    height: 278px;
    padding: 40px 20px 20px;  
}
.footer .content p{
    width: 1140px;
    height: 30px;
}
.footer .content p a{
    color: #8F7E6D;
    font-size: 12px;
}
.footer .content p a:hover{
    color: #F29417;
}
.footer .content p i{
    color: #8F7E6D;
    font-style: normal;
    margin: 0 15px;
    opacity: .5;
}
.footer .content img{
    width: 189px;
    height: 47px;
    padding-top: 40px;
}